body {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: white;
}
h2 {
    color: white;
}
.grid-container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
}
.grid-item {
    background: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item:hover {
  background-color: #ccc;
}
.start-game {
    width: 150px;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}
.start-game:hover {
  background-color: grey;
}